<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/header/headerStyle.css">
    <link rel="stylesheet" href="/views/pages/user/profile/userProfileStyle.css">
    <link rel="stylesheet" href="/views/components/menu/menuStyle.css">
    <link rel="stylesheet" href="/views/components/rightNav/rightNavUserStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>View Post</title>
</head>
<body>
    <div class="allContainer">
        <!-- header -->
        <%- include('../../../components/header/header') %>
        <!-- header -->

        <!-- menu -->
        <%- include('../../../components/menu/menuUser') %>
        <!-- menu -->

        <!-- user_profile -->
        <div class="mainUserProfile">
            <h2>About you</h2>
            <!-- name -->
            <div class="mainUserProfile__item">
                <div class="mainUserProfile__itemLeft">
                    <h3>Name</h3>
                    <p class="Name-span"><%= user.username %></p>
                </div>
                <div class="mainUserProfile__itemRight">
                    <button class="btnEdit editName">Edit</button>
                    <div class="buttonSet setEditName">
                        <button class="btnSave saveName">Save</button>
                        <button class="btnCancel cancelName">Cancel</button>
                    </div>
                </div>
            </div>
            <hr class="change-splitter">
            <!-- des -->
            <div class="mainUserProfile__item">
                <div class="mainUserProfile__itemLeft">
                    <h3>Description</h3>
                    <p class="Des-span"><%= user.description %></p>
                </div>
                <div class="mainUserProfile__itemRight">
                    <button class="btnEdit editDes">Edit</button>
                    <div class="buttonSet setEditDes">
                        <button class="btnSave saveDes">Save</button>
                        <button class="btnCancel cancelDes">Cancel</button>
                    </div>
                </div>
            </div>
            <hr class="change-splitter">
            <!-- email -->
            <div class="mainUserProfile__item">
                <div class="mainUserProfile__itemLeft">
                    <h3>Email</h3>
                    <p class="Email-span"><%= user.email %></p>
                </div>
                <div class="mainUserProfile__itemRight">
                    <button class="btnEdit editEmail">Edit</button>
                    <div class="buttonSet setEditEmail">
                        <button class="btnSave saveEmail">Save</button>
                        <button class="btnCancel cancelEmail">Cancel</button>
                    </div>
                </div>
            </div>
            <hr class="change-splitter">
            <!-- password -->
            <div class="mainUserProfile__item">
                <div class="mainUserProfile__itemLeft">
                    <h3>Password</h3>
                    <input type="password" placeholder="Your old password"  name="" id="oldPassword">
                    <input type="password" placeholder="Your new password"  name="" id="newPassword">
                </div>
                <div class="mainUserProfile__itemRight">
                    <button class="btnEdit editPass">Edit</button>
                    <div class="buttonSet setEditPass">
                        <button class="btnSave savePass">Save</button>
                        <button class="btnCancel cancelPass">Cancel</button>
                    </div>
                </div>
            </div>
            <hr class="change-splitter">
            <!-- avatar -->
            <div class="mainUserProfile__item">
                <div class="mainUserProfile__itemLeft">
                    <h3>Avatar</h3>
                    <form enctype="multipart/form-data" class="changeAvatar-form">
                        <label for="change-avatar">Browse your Avatar</label>
                        <input type="file" name="avatar" id="change-avatar" />
                    </form>
                </div>
                <div class="mainUserProfile__itemCenter">
                    <img class="preview-avatar" src="/<%= user.avatar %>" alt="">
                </div>
                <div class="mainUserProfile__itemRight">
                    <button class="btnEdit editAvatar">Edit</button>
                    <div class="buttonSet setEditAvatar">
                        <button class="btnSave saveAvatar">Save</button>
                        <button class="btnCancel cancelAvatar">Cancel</button>
                    </div>
                </div>
            </div>
            <hr class="change-splitter" >
            <!-- status -->
            <div class="mainUserProfile__item">
                <div class="mainUserProfile__itemLeft">
                    <h3>Status</h3>
                    <p><%= user.status %></p>
                </div>
            </div>
            <hr style="border: 0;height:1px;background: rgba(0,0,0,0.15);">
        </div>
        <!-- user_profile -->
        
        <!-- rightNav -->
        <%- include('../../../components/rightNav/rightNavUser') %>
        <!-- rightNav -->

        <!-- follow & block detail -->
        <div class="detailContainer">
            <%- include('./followAndBlockDetail') %>
        </div>
    <!-- follow & block detail -->
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/user/profile/userProfile.js"></script>
<script src="/views/components/rightNav/rightNavUser.js"></script>
</html>