<div class="rightNavbar">
    <div class="rightNavbar__getAccess">
        <a href="http://">Get unlimited access</a>
    </div>
    <div class="rightNavbar__body">
        <div class="rightNavbar__search">
                <div class="rightNavbar__search--icon">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <input class="rightNavbar__search--input" type="text" placeholder="Search">
        </div>
        <div class="rightNavbar__blogToday">
            <div class="rightNavbar__blogToday--access">
                <a href="http://"><div></div>New blog</a>
            </div>
            <% rightNavData.blogs.map(blog=>{ %>
                <div class="rightNavbar__blogToday--blog">
                    <div class="blogToday__author">
                        <a  href="/api/user/author/<%= blog.authorId?.id %>">
                            <img class="blogToday__author--avatar" src="/<%= blog.authorId?.avatar %>" alt="">
                            <span class="blogToday__author--name"><%= blog.authorId?.username %></span>
                        </a>
                    </div>
                    <a href="/api/post/get-post-by-id/<%= blog._id %>" class="blogToday__title">
                        <%= blog.title %>
                    </a>
                </div>
            <% }) %>
            
            <a class="rightNavbar__blogToday--accessList" href="http://">See the full list</a>
        </div>
    </div>
    <div class="rightNavbar__recommendedTopics">
        <div class="rightNavbar__recommendedTopics--header">
            <p>Recommended topics</p>
        </div>
        <div class="rightNavbar__recommendedTopics--topics">
            <% rightNavData.categories.map(category=>{ %>
                <a href="http://"><%= category.categoryName %></a>
            <% }) %>
        </div>
    </div>
    <div class="rightNavbar__recommendedAuthor">
        <div class="rightNavbar__recommendedAuthor--header">
            <p>Most active</p>
        </div>
        <div class="rightNavbar__recommendedAuthor--author">
            <% rightNavData.authors.map(author=>{ %>
                <div class="recomendedAuthor">
                    <a href="/api/user/author/<%= author?._id?.id %>">
                        <div class="recomendedAuthor__avatar">
                            <img src="/<%= author?._id?.avatar %>" alt="">
                        </div>
                        <a class="recomendedAuthor__info" href="/api/user/author/<%= author?._id?.id %>">
                            <div class="recomendedAuthor__info--name"><%= author?._id?.username %></div>
                            <div class="recomendedAuthor__info--description"><%= author?._id?.description %></div>
                        </a>
                    </a>
                    <button onclick="followAuthor('<%= author?._id?._id %>')" class="recomendedAuthor__followButton">Follow</button>
                </div>
            <% }) %>
        </div>
        <a href="" class="rightNavbar__recommendedAuthor--moreAuthor">
            See more suggestions
        </a>
    </div>
    <div class="rightNavbar__readingList">
        <div class="rightNavbar__readinglist--header">
            <p>Reading List</p>
        </div>
        <div class="rightNavbar__readinglist--content">
            <p>Click the <i class="fas fa-traffic-light    "></i>  on any story to easily add it to your reading list or a custom list that you can share.</p>
        </div>
    </div>
    <div class="rightNavbar__footer">
        <a href="http://">Help</a>
        <a href="http://">Status</a>
        <a href="http://">Writers</a>
        <a href="http://">Blog</a>
        <a href="http://">Careers</a>
        <a href="http://">Privacy</a>
        <a href="http://">Terms</a>
        <a href="http://">About</a>
        <a href="http://">Knowable</a>
    </div>
</div>