<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/views/pages/user/signIn/signin.css">
</head>
    <title>Document</title>
</head>
<body>

    <div class="container-SI">
        <div class="home-SI">
            <h1>Sign In width Email</h1>
            <div  class="menu-text">
                <% quotes.map((ele, index) => {%>
                    <p class="quotes<%= index %>"><%= ele %></p>

                <%}) %>
            </div>
            <div  class="menu-text-input">
                <% input.map((ele, index) => {%>
                    <p class="title-SI">Your Email</p>
                    <input type="email" class="input<%= index %>"><%= ele %></input>
                    <p class="title-SI">Your Password</p>
                    <input type="password" class="input<%= index %>"><%= ele %></input>

                <%}) %>
            </div>

            <div class="menu-tex-button">
                <% signIn.map((ele, index) => {%>
                    <button class="signIn<%= index %>"><%= ele %></button>
                <%}) %>
            </div>

            <div class="menu-tex-button">
                <% signInGG.map((ele, index) => {%>
                    <button class="signInGG<%= index %>"> <i class="fa-brands fa-google"></i> <%= ele %></button>
                <%}) %>
            </div>

            <div class="menu-tex-button">
                <% signInFB.map((ele, index) => {%>
                    <button class="signInFB<%= index %>"> <i class="fa-brands fa-facebook-square"></i> <%= ele %></button>
                <%}) %>
            </div>


            <div  class="menu-text-link">
                <% link.map((ele, index) => {%>
                    <p class="link<%= index %>"><a href=""><%= ele %></a></p>
                <%}) %>
            </div>
        </div>
    </div>

</body>

</html>