<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/header/headerStyle.css">
    <link rel="stylesheet" href="/views/pages/user/viewPost/viewPostStyle.css">
    <link rel="stylesheet" href="/views/components/menu/menuStyle.css">
    <link rel="stylesheet" href="/views/pages/user/author/author.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/pages/user/createPost/createPost.css">
    <title>View Post</title>
</head>
<body>
    <div class="allContainer">
        <!-- header -->
        <%- include('../../../components/header/header') %>
        <!-- header -->

        <!-- menu -->
        <%- include('../../../components/menu/menuUser') %>
        <!-- menu -->

        <!-- viewpost -->
        <div class="mainViewPost">
            <div class="viewPost__authorInfo">
                <div class="infoLeft">
                    <div class="infoLeft__avatar">
                        <a href="http://">
                            <img src="/<%= author.avatar %>" alt="">
                        </a>
                    </div>
                    <div class="infoLeft__nameAndMore">
                        <div class="infoLeft__name">
                            <%= author.username %>
                        </div>
                        <div class="infoLeft__more">
                            <div>
                                <%= post.createdAt.toLocaleDateString() %>
                            </div>
                            <p>-</p>
                            <a href="http://">Time read</a>
                        </div>
                    </div>
                </div>
                <div class="infoRight">
                    <div class="infoRight__feature">
                        <button>
                            <i class="fa-regular fa-bookmark"></i>
                        </button>
                        
                    </div>
                    <div class="infoRight__moreFeature">
                        <button>
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="moreFeature__top">
                                <ul>
                                    <li><a href="http://">Show Less Like This</a></li>
                                    <hr class="post-spliter" style="margin:0px 20px">
                                    <li><a href="http://">Mute Author</a></li>
                                    <li><a href="http://">Report</a></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="featureMobile">
                <button class="featureMobile__button--save"><i class="fa-regular fa-bookmark"></i> Save</button>
                <button class="featureMobile__button--follow"><i class="fa-solid fa-plus"></i> Follow </button>
            </div>
            <div class="viewPost__post">
                <h1 class="viewPost__post--title">
                    <%= post.title %>
                </h1>
                <div class="viewPost__post--content">
                    <%- post.content.replace(/contenteditable="true"/g,'') %>
                </div>
            </div>
            <div class="viewPost__bottomFeature">
                <div class="viewPost__bottomFeatureLeft">
                    <div class="bottomFeatureLeft__like">
                        <button>
                            <i class="fa-regular fa-hand"></i> <%= post.like.length %>
                        </button>
                    </div>
                    <div class="bottomFeatureLeft__comment">
                        <button>
                            <i class="fa-regular fa-comment"></i> <%= commentList.length %>
                        </button>
                    </div>
                    
                </div>
                <div class="viewPost__bottomFeatureRight">
                    <div class="bottomFeatureRight__feature">
                        <button>
                            <i class="fa-regular fa-bookmark"></i> 
                        </button>
                    </div>
                    <div class="bottomFeatureRight__moreFeature">
                        <button>
                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="moreFeature__bottom">
                                <ul>
                                    <li><a href="http://">Show Less Like This</a></li>
                                    <hr class="post-spliter" style="margin:0px 20px">
                                    <li><a href="http://">Mute Author</a></li>
                                    <li><a href="http://">Report</a></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Like and comment sticky -->
            <div class="stickyBarContainer">
                <div class="stickyBar">
                <div class="stickyBar__like">
                    <button>
                        <i class="fa-regular fa-hand"></i> <%= post.like.length %>
                    </button>
                </div>
                <div class="stickyBar__comment">
                    <button>
                        <i class="fa-regular fa-comment"></i> <%= commentList.length %>
                    </button>
                </div>
                <div class="stickyBar__moreFeature">
                    <button>
                        <i class="fa-solid fa-ellipsis"></i>
                        <div class="moreFeature__stickyBar">
                            <ul>
                                <li><a href="http://">Show Less Like This</a></li>
                                <hr class="post-spliter" style="margin:0px 20px">
                                <li><a href="http://">Mute Author</a></li>
                                <li><a href="http://">Report</a></li>
                            </ul>
                        </div>
                    </button>
                </div>
            </div>
            </div>
            <!-- Like and comment sticky -->
            
            <!--comment zone-->
                <div class="commentLayout">
                    <%- include('./commentComponent') %>
                </div>
            <!--comment zone-->
        </div>
        <!-- viewpost -->
            
        <!-- rightNav -->
        <%- include('../author/rightNavAuthor') %>
        <!-- rightNav -->
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/user/viewPost/viewPost.js"></script>
<script src="/views/components/menu/menu.js"></script>
</html>