<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/components/header/headerStyle.css">
    <link rel="stylesheet" href="/views/pages/user/home/homeStyle.css">
    <link rel="stylesheet" href="/views/components/menu/menuStyle.css">
    <link rel="stylesheet" href="/views/components/rightNav/rightNavHomeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="allContainer">
        <!-- header -->
        <%- include('../../../components/header/header') %>
        <!-- header -->

        <!-- menu -->
        <%- include('../../../components/menu/menuUser') %>
        <!-- menu -->

        <!-- home -->
        <div class="mainHome">
            <div class="homeTab">
                <a class="homeTab-forYou tabActive" href="/api/post/get-unblock-post">
                    For you
                </a>
                <a class="homeTab-following" href="/api/post/get-all-follow-post">
                    Following
                </a>
            </div>
            <div class="homePost-container">
                <% data.forEach((post,index)=>{ %>
                <div class="homePost">
                    <div class="homePost__authInfo">
                        <a href="" class="homePost__authInfoAvatar"><img src="/<%= post.authorId.avatar %> " alt=""></a>
                        <a href="http://" class="homePost__authInfoName"><%= post.authorId.username %></a>
                        -
                        <a href="http://" class="homePost__authInfoPostTime"><%= post.authorId.createdAt.toLocaleDateString() %></a>
                    </div>
                    <div class="homePost__postInfo">
                        <div class="homePost__postInfomation">
                            <a href="/api/post/get-post-by-id/<%= post._id %>">
                                <h2 class="homePost__postInfomation--title"><%= post.title %></h2>
                                <div class="homePost__postInfomation--content"><%= post.content %></div>
                            </a>
                            <div class="homePost__otherInfo">
                                <div class="homePost__otherInfoLeft">
                                    <a href="" class="homePost__otherInfoLeft--category">
                                        <%= post.category[0].categoryName %>
                                    </a>
                                    <a href="" class="homePost__otherInfoLeft--timeRead">
                                        6 mins
                                    </a>
                                </div>
                                <div class="homePost__otherInfoRight">
                                    <button class="homePost__otherInfoRight--save"><i class="fa-solid fa-bookmark"></i></button>
                                    <button class="homePost__otherInfoRight--showLess" onclick="ShowLess('<%= post.category[0]._id %>')"><i class="fa-solid fa-circle-minus"></i></button>
                                    <button class="homePost__otherInfoRight--moreFeature" onclick="ShowHomeFeature('homeFeature-<%= post._id %>')">
                                        <i class="fa-solid fa-ellipsis"></i>
                                        <div class="moreFeature" id="homeFeature-<%= post._id %>">
                                            <ul>
                                                <li><a onclick="BlockAuthor('<%= post.authorId._id %>')">Block Author</a></li>
                                                <hr class="post-spliter" style="margin:0px 20px">
                                                <li><a href="http://">Report</a></li>
                                            </ul>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            </div>
                        <div class="homePost__postAvatar">
                            <a href="http://">
                                <img src="https://miro.medium.com/fit/c/224/224/1*sLmBffo8hqet_h5JDovtdQ.jpeg" alt="" srcset="">
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="post-spliter">
                <% }) %>
            </div>
        </div>
        <!-- home -->
        
        <!-- rightNav -->
        <%- include('../../../components/rightNav/rightNavHome') %>
        <!-- rightNav -->
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/pages/user/home/home.js"></script>
</html>