<% data.forEach((post,index)=>{ %>
    <div class="homePost">
        <div class="homePost__authInfo">
            <a href="" class="homePost__authInfoAvatar"><img src="/<%= post.authorId?.avatar %> " alt=""></a>
            <a href="http://" class="homePost__authInfoName"><a href="api/user/author/<%= post.authorId?.id %>">
                    <%= post.authorId?.username %>
                </a>
            </a>
            -
            <a href="http://" class="homePost__authInfoPostTime">
                <%= post.authorId?.createdAt.toLocaleDateString() %>
            </a>
        </div>
        <div class="homePost__postInfo">
            <div class="homePost__postInfomation">
                <a href="/api/post/get-post-by-id/<%= post._id %>">
                    <h2 class="homePost__postInfomation--title"><%= post.title %></h2>
                    <div class="homePost__postInfomation--content"><%- post.content.replace(/contenteditable="true"/g,'')  %></div>

                </a>
                <div class="homePost__otherInfo">
                    <div class="homePost__otherInfoLeft">
                        <a href="" class="homePost__otherInfoLeft--category">
                            <%= post.category[0]?.categoryName %>
                        </a>
                        <a href="" class="homePost__otherInfoLeft--timeRead">
                            6 mins
                        </a>
                    </div>
                    <div class="homePost__otherInfoRight">
                        <button class="homePost__otherInfoRight--save"><i class="fa-solid fa-bookmark"></i></button>
                        <button class="homePost__otherInfoRight--showLess" onclick="ShowLess('<%= post.category[0]?._id %>')"><i class="fa-solid fa-circle-minus"></i></button>
                        <button class="homePost__otherInfoRight--moreFeature" onclick="ShowHomeFeature('homeFeature-<%= post._id %>')">

                            <i class="fa-solid fa-ellipsis"></i>
                            <div class="moreFeature" id="homeFeature-<%= post?._id %>">
                                <ul>
                                    <li onclick="BlockAuthor('<%= post.authorId?._id %>')"><a>Block Author</a></li>
                                    <hr class="post-spliter" style="margin:0px 20px">
                                    <li><a href="http://">Report</a></li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="homePost__postAvatar">
                <a href="http://">
                    <%
                    let source = 'https://miro.medium.com/fit/c/224/224/1*sLmBffo8hqet_h5JDovtdQ.jpeg'
                    const regex = /\bhttps?:[^)''"]+\.(?:jpg|jpeg|gif|png)(?![a-z/])/;
                    const found = post.content.match(regex);
                    if(found){
                        source = found
                    }
                    %>
                    <img src="<%= source %>" alt="" srcset="">
                </a>
            </div>
        </div>
    </div>
    <hr class="post-spliter">
    <% }) %>